.footer {
    background: $primary-color;
    padding: 20px;
    @include breakpoint(xs) {
        text-align: center;
    }

    &__nav {
        @include breakpoint(xs) {
            padding: 10px 0;
        }
        &__list {
            list-style: none;

            &__item {
                a {
                    color: $secondary-color;

                    &:hover {
                        color: darken($secondary-color, 10%);
                    }
                }
            }
        }
    }

    &__info {
        text-align: center;

        &__credit {
            color: $white-color;
        }
    }
}