<section class="row">
    <div class="col-sm-12">
        <form class="account-nav__form" action="{{ url_for('sign_in') }}" method="POST">
            <div class="account-nav__form__group">
                <label class="account-nav__form__group__label" for="username">Username</label>
                <input class="account-nav__form__group__input" type="text" name="username">
            </div>
            <div class="account-nav__form__group">
                <label class="account-nav__form__group__label" for="password">Password</label>
                <input class="account-nav__form__group__input" type="password" name="password">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="account-nav__form__group__error">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="account-nav__form__group--submit">
                <input class="btn btn__primary" type="submit" value="Sign In">
            </div>
        </form>
    </div>
    <div class="col-sm-12">
        <div class="account-nav__bottom-button">
            <p class="account-nav__bottom-button__text">New to BeerTime? <a aria-label="Create Account" class="btn btn__primary"
                    href="{{ url_for('create_account')}}">Create Account</a></p>
        </div>
    </div>
</section>