{% include 'layout/head.html' %}
{% block content %}
<div class="error-page">
    <div class="error-page__details">
        <i class="error-page__details__icon fas fa-sad-tear"></i>
        <h1>Something went wrong.</h1>
        <p>{{ error_message }} Alternativley, press this button below to return to safety.</p>
        <div class="error-page__details__button">
            <a aria-label="Home" class="btn btn__primary" href="{{ url_for('index')}}">Go Home</a>
        </div>
    </div>
</div>
{% endblock %}