{% extends 'layout/base.html' %}
{% block content %}
<section class="row company-intro">
    <div class="col-sm-12">
        <div class="company-intro__block">
            {% if session['username'] %}
            <h2>Welcome Back</h2>
            <p>We're happy you decided to come back to us!</p>
            {% else %}
            <h2>Welcome to Beer Time</h2>
            <p>Have you ever wanted to construct a library of all the fanstatic beers that are available out
                there? Look no further as you have found Beer Time. Start adding to your list now.</p>
            {% endif %}
        </div>
    </div>
</section>

<section class="row main-body__highlight-panel">
    <div class="col-sm-12 col-md-8">
        <div class="main-body__highlight-panel__text">
            <h1>Featured This Month</h1>
            <p>Check out the fantastic selection of craft beers from Brewdog, let us know your favourites
                and share with the rest of the community!</p>
            <div class="main-body__hightlight-panel__text__buttons">
                <a aria-label="Beers" class="btn btn__no-inner btn__no-inner--alt" href="{{ url_for('beers')}}">All Beers</a>
                {% if session['username'] %}
                <a aria-label="My List" class="btn btn__primary" href="{{ url_for('my_list')}}">My List</a>
                {% else %}
                <a aria-label="Sign In" class="btn btn__primary" href="{{ url_for('sign_in')}}">Sign In</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="main-body__highlight-panel__image">
            <img class="img-responsive" src="static/images/beer.jpg" alt="Craft Beers by Brewdog">
        </div>
    </div>
</section>
{% endblock %}