<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12 mr-auto">
                <div class="footer__nav">
                    <ul class="footer__nav__list">
                        <li class="footer__nav__list__item"><a aria-label="Home" href="{{ url_for('index') }}">Home</a></li>
                        <li class="footer__nav__list__item"><a aria-label="Contact" href="{{ url_for('contact') }}">Contact Us</a></li>
                        {% if session['username'] %}
                        <li class="footer__nav__list__item"><a aria-label="My List" href="{{ url_for('my_list') }}">My List</a></li>
                        <li class="footer__nav__list__item"><a aria-label="Sign Out" href="{{ url_for('sign_out') }}">Sign Out</a></li>
                        {% else %}
                        <li class="footer__nav__list__item"><a aria-label="Sign In" href="{{ url_for('sign_in') }}">Sign in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-xs-12">
                <div class="footer__info">
                    <a aria-label="Home" id="logo" href="/" class="main-nav__inner__logo__image"><img
                            src="/static/images/logo/beer-time-white-logo.png" alt="beer-time-logo"></a>
                    <p class="footer__info__credit">Thankyou for visitng Beer Time, this site was developed by George
                        Pyott</p>
                </div>
            </div>
        </div>
    </div>
</footer>