{% block header %}
<nav class="main-nav">
    <div class="main-nav__inner d-flex align-items-center">
        <div class="main-nav__inner__logo">
            <a aria-label="Home" id="logo" href="/" class="main-nav__inner__logo__image"><img
                    src="/static/images/logo/beer-time-white-logo.png" alt="beer-time-logo"></a>
        </div>
        <ul class="main-nav__inner__nav d-none d-lg-flex ml-auto align-items-center">
            <li class="main-nav__inner__nav__item"><a aria-label="Home" href="{{ url_for('index') }}">Home</a></li>
            <li class="main-nav__inner__nav__item"><a aria-label="Beers" href="{{ url_for('beers') }}">All Beers</a>
            </li>
            <li class="main-nav__inner__nav__item"><a aria-label="Contact" href="{{ url_for('contact') }}">Contact</a>
            </li>
            <li class="main-nav__inner__nav__list__trigger">
                {% if session['username'] %}
                <a aria-label="User Navigation" href="#"><i class="fa fa-user-circle fa-fw"></i></a>
                {% else %}
                <a aria-label="User Navigation" href="#"><i class="far fa-user-circle fa-fw"></i></a>
                {% endif %}
                <div class="main-nav__inner__nav__list__dropped">
                    <ul class="main-nav__inner__nav__list__dropped__group">
                        {% if session['username'] %}
                        <li class="main-nav__inner__nav__list__dropped__item"><a aria-label="My List" href="{{ url_for('my_list') }}">My
                                List</a></li>
                        <li class="main-nav__inner__nav__list__dropped__item"><a aria-label="Sign Out" href="{{ url_for('sign_out') }}">Sign
                                Out</a></li>
                        {% else %}
                        <li class="main-nav__inner__nav__list__dropped__item"><a aria-label="Sign In" href="{{ url_for('sign_in') }}">Sign
                                In</a></li>
                        {% endif %}
                        {% if session['username'] %}
                        {% if current_user['admin'] == true %}
                        <li class="main-nav__inner__nav__list__dropped__item"><a aria-label="Add Beer" href="{{ url_for('add_beer') }}">Add
                                Beer</a></li>
                        {% endif %}
                        {% endif %}

                    </ul>
                </div>
            </li>
        </ul>

        <div class="nav-button d-lg-none d-md-flex ml-auto main-nav__inner__nav__item"><i class="fa-fw fas fa-bars"></i>
        </div>
    </div>
</nav>
{% endblock %}