#home-banner-1 {
  background-image: url("../../static/images/banner/home/beer-banner-image-1.jpg");
}

#home-banner-2 {
  background-image: url("../../static/images/banner/home/beer-banner-image-2.jpg");
}

#home-banner-3 {
  background-image: url("../../static/images/banner/home/beer-banner-image-3.jpg");
}

.main-body {
  &__highlight-panel {
    background: $default-body-color;
    padding: 15px;
    border-radius: 10px;
    box-shadow: $darkest-box-shadow;
    align-items: center;

    @include breakpoint(xs) {
      text-align: center;
    }

    &__text {
      padding: 20px 0;

      p {
        padding: 10px 0;
      }
    }
  }
}

.company-intro {
  text-align: center;
  padding: 15px;
  background: $default-body-color;
  box-shadow: $darkest-box-shadow;
  border-radius: 10px;
  margin-bottom: 40px;

  &__block {
    h2 {
      margin-bottom: 20px;
    }
  }
}

.beers {
  margin-top: 40px;
  background: $primary-color;
  border-radius: 10px;
  box-shadow: $default-box-shadow;

  &__slick {
    &__slide {
      padding: 25px;
      text-align: center;

      &__image {
        box-shadow: $default-box-shadow;
      }

      &__content {
        transition: $default-transition;

        h3 {
          color: $secondary-color;
        }

        color: $white-color;
      }

      &__link {
        &:hover {
          .beers__slick__slide__content {
            background: $default-body-color;
            color: $black-color;
            border-radius: 0px 0 10px 10px;
          }

          h3 {
            color: $primary-color;
          }
        }
      }
    }
  }
}