<!DOCTYPE html>
<title></title>
<head></head>
<body>

{% extends 'base.html' %} {% block content %}
<!-- Container for Background Image -->
<div class="intro-container img-responsive container-fluid">
    
    <!-- Website Intro Welcome Headings -->
    <div class="heading-container">
    
        <h1 class="intro-heading">Welcome to Easy Dinner</h1>
        <p class="intro-subheading"><i>Search for easy dinner recipes after a busy day. All recipes have no more that 5 ingredients and are made fast. You can also add your recipes and save your favourites. Enjoy cooking and Bon appetite!</i></p>

    </div>

    <div class="row">
        
        <!-- Large Call-to-Action Button Group -->
</div>
{% endblock %}
</body>
</html>
