.main-nav {
  padding: 10px 30px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100%;
  position: fixed;
  transition: $default-transition;
  box-shadow: $default-box-shadow;

  &__inner {
    padding: 0 40px;

    &__nav {
      list-style: none;
      display: flex;

      &__item {
        padding: 0 10px;

        a {
          color: $secondary-color;
          transition: $default-transition;
          text-shadow: $default-text-shadow;

          &:hover {
            color: darken($secondary-color, 10%);
            text-decoration: none;
          }
        }

        i {
          color: $secondary-color;
          font-size: 30px;
        }
      }

      &__list {

        &__dropped {
          display: none;
          list-style: none;

          &__group {
            list-style: none;
            position: absolute;
            padding: 2px 10px;
            background: $primary-color;
            border: 1px solid rgba(0, 0, 0, 0.4);
            box-shadow: $darkest-box-shadow
          }

          &__item {
            padding: 6px 0;

            a {
              color: $secondary-color;
            }

            &:hover {
              a {
                color: darken($secondary-color, 10%);
              }
            }
          }
        }

        &__trigger {
          padding: 0 10px;

          i {
            color: $secondary-color;
            font-size: 30px;

            &:hover {
              color: darken($secondary-color, 10%);
            }
          }

          &:hover {
            div {
              display: block;
            }
          }
        }
      }
    }
  }

  &__scrolling {
    background: $primary-color;
  }
}